
/* Desktop version */

@media (min-width:801px){

.container{
display:flex;
flex-direction:column;
width:90vw;
margin:0 auto;
min-height:10rem
}

body{
    background-color: #F9F3E5;
    font-size: 1.4rem;
    font-family: 'Passion One';
}
a{
    text-decoration: none;
    color: black;
}

/* ronds menu nav */

ul{
    display: flex;
    justify-content: space-around;
    padding: 0 2vw;
    align-items: center;
}

.content{
    display: flex;
    height: 59vw;
}

.oeuvres{
    display: flex;
    overflow: auto;
}

.intro{
    display: flex;
    flex-direction: column;
}
.descriptionsalle{
    width: 100vw;
}

  li{
    display: flex;
    flex-direction: column;
  }
  li>a{
    padding-left: 4vw;
    font-size: 1.5vw;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-row-gap: 1%;
    grid-column-gap: 1%;
    grid-template-areas: "grid1";
}
.grid1 {
    display: flex;
    position: relative;
    background-color: #f1f2f6;
    background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);
    width: 226vw;
    border-radius: 2rem;
    grid-area: grid1;
    padding: 4vw 5vw;

}

.oeuvre{
    white-space: normal;
    margin: 0 10vw;
}


h1{
    font-size: 7vw;
    margin: 0;
}
h2{
    margin: 0;
    font-weight: 100;
}
.flexaccueil{
    margin-top: 3vw;
    align-items: center;
    gap: 32vw;
    display: flex;
    justify-content: center;
}




.mentions{
    z-index: 5;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 2%;
    justify-content: center;
    align-items: center;
    color:#fefadd
  }
  #mentionscolor a{
    font-weight: 900;
    font-size: 1vw;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: black;
  }

img{
    width: 10%;
}

.logo{
    flex-grow: 1;
}


i{
    font-size: 10vw;
}

.login{
    text-align: center;
    display:flex;
flex-direction:column;
width:40vw;
margin:0 auto;
min-height:10rem
}
label{
    display:flex;
    flex-direction:column;
    text-align: center;

}
}














/* Smartphone version */

@media (max-width:800px){

    .container{
    display:flex;
    flex-direction:column;
    width:90vw;
    margin:0 auto;
    min-height:10rem;
    }
    
    body{
        background-color: #F9F3E5;
        font-size: 1.4rem;
        font-family: 'Passion One';
        color:#103778;
    }
    a{
        text-decoration: none;
        color:#103778;
    }

    .inscri {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9rem;
    }

    .inscri a {
        text-decoration: underline;
    }
    
    ul{
        display: flex;
        padding: 0 2vw;
        align-items: center;
        margin-bottom: 80px;
    }
    
    .content{
        display: flex;
        height: 59vw;
    }

    
      li{
        display: flex;
      }
      li>a{
        margin-left: 4vw;
      }

    h1{
        font-size: 7vw;
        margin: 0;
    }
    h2{
        margin: 0;
        font-weight: 100;
    }
    
    img{
        width: 10%;
    }
    
    .logo{
        flex-grow: 1;
    }
    
    i{
        font-size: 10vw;
    }
    
    .login{
        text-align: center;
        display:flex;
    flex-direction:column;
    width:40vw;
    margin:0 auto;
    min-height:10rem
    }

    label{
        display:flex;
        flex-direction:column;
        text-align: center;
        margin-top: 20px;
    }

    input{
        margin: 10px;
        border: none;
        height: 35px;
        width: 100%;
    }

    .connexion {
        color:#F9F3E5;
        background-color: #E3371E;
    }

    form{
        max-width: 100%;
        text-align: center;
        margin-left: auto; margin-right:auto;
    }

    }