
/* Desktop version */

@media (min-width:801px){

.container{
display:flex;
flex-direction:column;
width:59vw;
margin:0 auto;
min-height:10rem
}

body{
    margin: 0;
    background-color: #F9F3E5;
    font-size: 1.4rem;
    font-family: 'Passion One';
}
a{
    text-decoration: none;
    color: black;
}
p{
    font-family: 'poppins','Arial';
}
/* ronds menu nav */

ul{
    display: flex;
    justify-content: space-around;
    padding: 0 2vw;
    align-items: center;
}

.content{
    display: flex;
    height: 62rem;
}

.oeuvres{
    display: flex;
    overflow: auto;
}

.intro{
    display: flex;
    flex-direction: column;
}
.descriptionsalle{
    width: 100vw;
}

  li{
    font-family: 'poppins','Arial';
    font-size: 1rem;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
a{
text-decoration: underline;
color: #E3371E;
}

.oeuvre{
    width: 82vw;
    white-space: normal;
    /* margin: 0 10vw; */
}


h1{
    font-size: 3vw;
    margin: 0;
}
h2{
    margin: 0;
    font-weight: 100;
}
.flexaccueil{
    margin-top: 3vw;
    align-items: center;
    gap: 32vw;
    display: flex;
    justify-content: center;
}




i{
    font-size: 10vw;
}

.login{
    text-align: center;
    display:flex;
flex-direction:column;
width:40vw;
margin:0 auto;
min-height:10rem
}
label{
    display:flex;
    flex-direction:column;
    text-align: center;

}


.oeuvre img{
    width: 100%;
    max-height: 35rem;
}
img{
    max-height: 47vw;
    object-fit: contain;
}
.commentaires{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
    min-height: 10rem;
}
}

.retour{
    padding: 3rem 7rem 0rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    font-family: 'Passion One';
    font-size: 2rem;
    width: 20rem;
    color: red;
    text-decoration: none;
    background: #F9F3E5;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 1rem;
}
.descriptionoeuvre{
    width: 30%;
}
.description{
    font-size: 1rem;
}
