
/* Desktop version */

@media (min-width:801px){

.container{
display:flex;
flex-direction:column;
width:90vw;
margin:0 auto;
min-height:10rem
}

body{
    overflow: hidden;
    background-color: #F9F3E5;
    font-size: 3.4rem;
    font-family: 'Passion One';

}
a{
    text-decoration: none;
    color: black;
}

/* ronds menu nav */

ul{
    color: white;
    margin-top: 20rem;
    background-color:#103778;
    display: flex;
    justify-content: space-around;
    padding: 1vw 2vw;
    align-items: center;
}

.content{
    display: flex;
    height: 59vw;
}

.oeuvres{
    display: flex;
    overflow: auto;
}

.intro{
    display: flex;
    flex-direction: column;
}
.descriptionsalle{
    width: 100vw;
}

  li{
    text-align: center;
    display: flex;
    flex-direction: column;
  }

 .titre{
    position: absolute;
    left: 50%;
 }
 .salledescription{
    position: absolute;
    top:50%;
    left: 50%;
 }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-row-gap: 1%;
    grid-column-gap: 1%;
    grid-template-areas: "grid1";
}
.grid1 {
    display: flex;
    position: relative;
    background-color: #f1f2f6;
    background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);
    width: 226vw;
    border-radius: 2rem;
    grid-area: grid1;
    padding: 4vw 5vw;

}

.oeuvre{
    white-space: normal;
    margin: 0 10vw;
}


h1{
    font-size: 7vw;
    margin: 0;
    margin-top: -5rem; 
    text-align: center;
    color: #103778;
}
h2{
    margin: 0;
    font-weight: 100;
}
.flexaccueil{
    margin-top: 3vw;
    align-items: center;
    gap: 32vw;
    display: flex;
    justify-content: center;
}




.mentions{
    z-index: 5;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 2%;
    justify-content: center;
    align-items: center;
    color:#fefadd
  }
  #mentionscolor a{
    font-weight: 900;
    font-size: 1vw;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: black;
  }


.logo{
    flex-grow: 1;
}


i{
    font-size: 10vw;
    color: white;
}

.login{
    text-align: center;
    display:flex;
flex-direction:column;
width:40vw;
margin:0 auto;
min-height:10rem
}
label{
    display:flex;
    flex-direction:column;
    text-align: center;

}

  .metro img{
    z-index: -2;
    position: absolute;
    left: 0;
    top: 40%;
    height: 100%;
  }

  .button{
    background: none;
    border: none;
  }

  .retour{
    padding: 1rem;
  }
  .retour i{
    font-size: 5rem;
    color: #103778;
  }

  .ronds{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;

  }
  .round{
    color: white;
    text-align: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    background-color: #E3371E;
    border-radius: 50%;
    display: grid;
  }
  .a1{
    transform: translate(0rem, 4rem);
 
  }
 
  .a3{
    transform: translate(0rem, 4rem);
  }
  .a5{
    transform: translate(0rem, 4rem);
  }

  .trajet img{
    position: absolute;
    z-index: -1;
    top: 1rem;
    left: 11rem;
    width: 51rem;
  }
  .ronds img{
    width: 10%;
    position: relative;
    top: 2rem;
  }

  .descrioeuvre1{
    opacity: 0%; 
    font-family: Arial, Helvetica, sans-serif;
    

    position: absolute;
    top: 35%;
    left: 30%;
    width: 40vw;
  }
  .descrioeuvre1.active{
    opacity: 100%;
    background-color: #fef3f6;
    border-radius: 2rem;
    padding: 1rem;
    border: 5px solid grey;
    font-size: 1rem;
    z-index: 2;
    
    
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40vw;
  }

  .descrioeuvre2{
    opacity: 0%; 
    font-family: Arial, Helvetica, sans-serif;
    
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40vw;
  }
  .descrioeuvre2.active{
    opacity: 100%;
    background-color: #fef3f6;
    border-radius: 2rem;
    padding: 1rem;
    border: 5px solid grey;
    font-size: 1rem;
    z-index: 2;
    
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40vw;
  }

  .descrioeuvre3{
    opacity: 0%; 
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    top: 40%;
    left: 30%;
    width: 40vw;
  }
  .descrioeuvre3.active{
    opacity: 100%;
    background-color: #fef3f6;
    border-radius: 2rem;
    padding: 1rem;
    border: 5px solid grey;
    font-size: 1rem;
    z-index: 2;
    
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40vw;
  }

  .descrioeuvre4{
    opacity: 0%; 
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    top: 40%;
    left: 30%;
    width: 40vw;
  }
  .descrioeuvre4.active{
    opacity: 100%;
    background-color: #fef3f6;
    border-radius: 2rem;
    padding: 1rem;
    border: 5px solid grey;
    font-size: 1rem;
    z-index: 2;
    
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40vw;
  }

  .descrioeuvre5{
    opacity: 0%; 
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    top: 40%;
    left: 30%;
    width: 40vw;
  }
  .descrioeuvre5.active{
    opacity: 100%;
    background-color: #fef3f6;
    border-radius: 2rem;
    padding: 1rem;
    border: 5px solid grey;
    font-size: 1rem;
    z-index: 2;
    
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40vw;
  }
}










/* Smartphone version */

@media (max-width:800px){

  .container{
    display:flex;
    flex-direction:column;
    width:90vw;
    margin:0 auto;
    min-height:10rem
    }
    
    body{
        overflow: hidden;
        background-color: #F9F3E5;
        font-size: 1.4rem;
        font-family: 'Passion One';
    }

    h1{
      font-size: 9vw;
      font-weight: 100;
      text-align: center;
      color: #103778;
      position: relative;
  }

  .retour i{
    font-size: 5rem;
    padding: 1rem;
    color: #103778;
    position: absolute;
  }

    a{
        text-decoration: none;
        color: black;
    }
    
    /* ronds menu nav */

    .trajet img {
      display: none;
    }

    .ronds{
      margin-top: 100px;
      font-size: 2rem;
    }
    .round{
      color: white;
      text-align: center;
      align-items: center;
      height: 5rem;
      width: 5rem;
      background-color: #E3371E;
      border-radius: 50px;
      display: grid;
      margin-left: 20%;
      margin-bottom: 300px;
    }

    .tabflex{
      display: flex;
    }

    .titre {
      color: #E3371E;
      margin-left: 30px;
      max-width: 50%;
    }

    .titre h4{
      margin: 0px;
    }
    
    ul{
        display: none;
    }

      .metro img{
        position: sticky;
        bottom: 0px;
      }
    
    .content{
        display: flex;
        height: 59vw;
    }
    
    .oeuvres{
        display: flex;
        overflow: auto;
    }
    
    .intro{
        display: flex;
        flex-direction: column;
    }

    .oeuvre{
        white-space: normal;
        margin: 0 10vw;
    }

    .flexaccueil{
        margin-top: 3vw;
        align-items: center;
        gap: 32vw;
        display: flex;
        justify-content: center;
    }
    
    .mentions{
        z-index: 5;
        display: flex;
        position: fixed;
        width: 100%;
        bottom: 2%;
        justify-content: center;
        align-items: center;
        color:#fefadd
      }
      #mentionscolor a{
        font-weight: 900;
        font-size: 1vw;
        text-transform: uppercase;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        color: black;
      }
    
    
    .logo{
        flex-grow: 1;
    }
    
    
    i{
        font-size: 10vw;
        color: white;
    }
    
    .login{
        text-align: center;
        display:flex;
    flex-direction:column;
    width:40vw;
    margin:0 auto;
    min-height:10rem
    }
    label{
        display:flex;
        flex-direction:column;
        text-align: center;
    
    }
    
      .button{
        background: none;
        border: none;
      }
}