
/* Desktop version */

@media (min-width:801px){

.container{
display:flex;
flex-direction:column;
width:90vw;
margin:0 auto;
min-height:10rem
}

body{
    overflow: hidden;
    margin: 0;
    background-color: #F9F3E5;
    font-size: 1.4rem;
    font-family: 'Passion One';
}
a{
    text-decoration: none;
    color: black;
}
 .back{
    z-index: 2;
    position: absolute;
    padding: 1rem;
  }
  .back i{
    font-size: 5rem;
    color: #103778;
  }
/* ronds menu nav */

ul{
    display: flex;
    justify-content: space-around;
    padding: 0 2vw;
    align-items: center;
}

.content{
    display: flex;
    height: 62rem;
}

.oeuvres{
    display: flex;
    overflow: auto;
}

.intro{
    display: flex;
    flex-direction: column;
}
.descriptionsalle{
    width: 100vw;
}

  li{
    display: flex;
    flex-direction: column;
  }
  li>a{
    padding-left: 4vw;
    font-size: 1.5vw;
  }


  .grid {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-row-gap: 1%;
    grid-column-gap: 1%;
    grid-template-areas: "grid1";
}
.grid1 {
    gap: 20rem;
    display: flex;
    position: relative;
    grid-area: grid1;
    padding: 2rem 5rem 1rem 5rem

}

.oeuvre{
    width: 41vw;
    white-space: normal;
    margin: 0 10vw;
}


h1{
    font-size: 3vw;
    margin: 0;
    font-weight: lighter;
}
h2{
    margin: 0;
    font-weight: 100;
}
.flexaccueil{
    margin-top: 3vw;
    align-items: center;
    gap: 32vw;
    display: flex;
    justify-content: center;
}




.mentions{
    z-index: 5;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 2%;
    justify-content: center;
    align-items: center;
    color:#fefadd
  }
  #mentionscolor a{
    font-weight: 900;
    font-size: 1vw;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: black;
  }



.logo{
    flex-grow: 1;
}


i{
    font-size: 10vw;
}

.login{
    text-align: center;
    display:flex;
flex-direction:column;
width:40vw;
margin:0 auto;
min-height:10rem
}
label{
    display:flex;
    flex-direction:column;
    text-align: center;

}


.oeuvre img{
    object-fit: contain;
    width: 100%;
    max-height: 25rem;
}
.valider a{
    margin-bottom: 3rem;
    display: flex;
    background-color: #103778;
    color: #f9f3e5;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20.8rem;
    height: 11rem;
}
.valider{
    margin-top: 13rem;
    position: absolute;
    left: -4%;
    display: flex;
    flex-direction: column; 
}
.showurls{
    display: flex;
    font-family: 'poppins';
    font-weight: 900;
    width: 100%;
    justify-content: space-between;
    font-size: 1rem;
}
}

.show{
    flex-grow: 1;
    text-decoration: underline;
    color: #103778;
}
.showurl{
    text-decoration: underline;
    color: #e3371e;
}
.selectvalider{
    background-color: red;
    color: #f9f3e5;
    border: none;
    border-radius: 20.8rem;
    height: 11rem;
}
.inputvalider{
    background-color: #103778;
    border: 6px solid #103778;
    color: #F9F3E5;
    border-radius: 20.8rem;
    height: 3rem;
    width: 29%;
}
.retour{
    padding: 0rem 7rem 0rem 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    cursor: pointer;
    font-family: 'Passion One';
    font-size: 2rem;
    width: 12rem;
    color: red;
    text-decoration: none;
    background: #F9F3E5;
    border-radius: 1rem;
}
.button i{
    color:#e3371e;
}
.descriptionoeuvre{
    font-family: 'poppins';
    width: 100%;
    font-size: 1rem;
}
.description{
    font-size: 1rem;
}
